@charset "utf-8";
.body .wrap .main .tenpura .menu {
    margin: 0;
    margin: 0;
    margin: 0;
    padding: 0;
}

.wrap {
    max-width: 960px;
    color: black;
    display: flex;
    background-color: black;
}
.main {
    font-size: 30px;
    list-style: none;
    margin-right: 250px;
}
.tenpura {
    width: 960px;
    display: flex;
    list-style: none;
    font-size: 15px;
    background-color: #fff;
}
.menu {
    width: 100px;
    height: 30px;
    text-align: center;
    border-right: solid gray;
}
